* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    margin: auto;
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

h1 {
    margin: 10px auto;
}

#change-grid {
    width: 100px;
    padding: 5px auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.box {
    background-color: lightgoldenrodyellow;
    border: 0.5px solid lightgray;
}